:root {
  --main-color: #363330;
  --secondary-color: #b98e5a;
  --tertiary-color: #732706;
  --main-font-color: #222222;
  --secondary-font-color: #ffffff;
  --header-height: 180px;
  --footer-height: 70px;
  --left-padding: 3rem;
  --main-max-width: 1000px;
  --logo-wrapper-size: 210px;
  --header-logo-size: 195px;
  --menu-extra-left: 20px;
  --menu-link-padding-sides: 2rem;
  --logo-name-left: 350px;
  --menu-link-transform: uppercase;
  --main-wrapper-padding: 4rem 6rem;
  --first-li-left: 1rem;
}
@media (max-width: 920px) {
  :root {
    --logo-wrapper-size: 170px;
    --header-logo-size: 155px;
    --menu-extra-left: 7px;
    --menu-link-padding-sides: 1rem;
    --logo-name-left: 260px;
    --menu-link-transform: none;
  }
}
@media (max-width: 700px) {
  :root {
    --header-name-display: none;
    --logo-wrapper-size: 130px;
    --header-logo-size: 115px;
    --main-wrapper-padding: 2rem 3rem;
    --first-li-left: 0rem;
  }
}
@media (max-width: 400px) {
  :root {
    --menu-link-padding-sides: .5rem;
  }
}

@font-face {
  font-family: mainFont;
  src: url(fonts/Big\ Caslon\ Medium.ttf);
}

body {
  background-color: #ffffff;
  font-family: mainFont;
  overflow-x: hidden;
  min-height: 100%;
}

.header-wrapper {
  background-color: var(--main-color);
  height: var(--header-height);
  padding: 1rem var(--left-padding);
  position: fixed;
  width: 100vw;
  box-shadow: 0px 2px 5px var(--main-font-color);
  top: 0;
}

.header-logo-wrapper {
  background-color: var(--secondary-color);
  border-radius: 50%;
  height: var(--logo-wrapper-size);
  width: var(--logo-wrapper-size);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-5deg);
  position: relative;
  z-index: 10;
  box-shadow: 2px 5px 10px var(--main-font-color);
  transition: transform .2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
              box-shadow .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.header-logo-wrapper:hover {
  transform: scale(1.1) rotate(-10deg);
  box-shadow: 3px 6px 14px var(--main-font-color);
}
.header-logo {
  border: 2px dashed var(--main-color);
  border-radius: 50%;
  display: flex;
  height: var(--header-logo-size);
  width: var(--header-logo-size);
  justify-content: center;
  padding: 20px;
}
.header-logo-name {
  max-width: 400px;
  position: absolute;
  left: var(--logo-name-left);
  top: 30px;
  display: var(--header-name-display);
}

.footer-wrapper {
  align-items: center;
  background-color: var(--main-color);
  color: var(--secondary-font-color);
  display: flex;
  padding: 0 var(--left-padding);
  justify-content: center;
  font-size: .8rem;;
  height: var(--footer-height);
  width: 100vw;
}

.main-wrapper {
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  max-width: var(--main-max-width);
  margin-top: var(--header-height);
  padding: var(--main-wrapper-padding);
  display: flex;
  flex-direction: column;
}
.menu {
  width: calc(100vw - var(--logo-wrapper-size) - var(--menu-extra-left));
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--secondary-font-color);
  display: inline-flex;
  background-color: var(--tertiary-color);
}

.menu li {
  height: inherit;
}
.menu li:not(:last-child) {
  border-right: 3px solid var(--main-color);
}
.menu-link {
  cursor: pointer;
  height: inherit;
  padding: 0 var(--menu-link-padding-sides);
  display: inline-flex;
  align-items: center;
  text-transform: var(--menu-link-transform);
  font-weight: bold;
  position: relative;
}
.menu-link::after {
  content: '';
  width: 100%;
  height: 0px;
  background-color: var(--secondary-font-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: height 0.2s linear;
}
.menu-link:hover::after {
  height: 3px;
  /* border-bottom: 1px solid var(--secondary-font-color); */
}
.menu-link.active {
  background-color: var(--secondary-color);
}
.menu li:first-child {
  padding-left: var(--first-li-left);
}

.title {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.text {
  margin-bottom: 1.5rem;
}
.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;

}

@media (max-width: 700px) {
  .header-logo-link {
    position: absolute;
    left: calc(50% - (var(--logo-wrapper-size)/2))
  }
  .menu {
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
}